<div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h2>Configuraciones de usuario para [<b>{{settingsAccount.login}}</b>]</h2>

            <div class="alert alert-success" ng-show="success">
                <strong>Configuraciones guardadas!</strong>
            </div>

            <div class="alert alert-danger" ng-show="errorEmailExists">
                <strong>E-mail ya en uso!</strong> Please choose another one.
            </div>

            <div class="alert alert-danger" ng-show="error">
                <strong>Un error ha ocurrido!</strong> Configuraciones no se pudieron guardar.
            </div>

            <form name="form" role="form" novalidate ng-submit="save()" show-validation>

                <div class="form-group">
                    <label class="control-label" for="firstName">Nombre</label>
                    <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Tu nombre"
                           ng-model="settingsAccount.firstName" ng-minlength=1 ng-maxlength=50 required maxlength="50">
                    <div ng-show="form.firstName.$dirty && form.firstName.$invalid">
                        <p class="help-block"
                               ng-show="form.firstName.$error.required">
                            Tu nombre es requerido.
                        </p>
                        <p class="help-block"
                               ng-show="form.firstName.$error.minlength">
                            Tu nombre debe tener al menos un caracter.
                        </p>
                        <p class="help-block"
                               ng-show="form.firstName.$error.maxlength">
                            Tu nombre no debe tener más de 50 caracteres.
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="lastName">Apellido</label>
                    <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Tu apellido"
                           ng-model="settingsAccount.lastName" ng-minlength=1 ng-maxlength=50 required maxlength="50">
                    <div ng-show="form.lastName.$dirty && form.lastName.$invalid">
                        <p class="help-block"
                               ng-show="form.lastName.$error.required">
                            Tu apellido es requerido.
                        </p>
                        <p class="help-block"
                               ng-show="form.lastName.$error.minlength">
                            Tu apellido debe tener al menos un caracter.
                        </p>
                        <p class="help-block"
                               ng-show="form.lastName.$error.maxlength">
                            Tu apellido no debe tener más de 50 caracteres.
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="email">E-mail</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Tu e-mail"
                           ng-model="settingsAccount.email" ng-minlength=5 ng-maxlength=100 required maxlength="100">
                    <div ng-show="form.email.$dirty && form.email.$invalid">
                        <p class="help-block"
                               ng-show="form.email.$error.required">
                            Tu  e-mail es requerido.
                        </p>
                        <p class="help-block"
                               ng-show="form.email.$error.email">
                            Tu e-mail es inválido.
                        </p>
                        <p class="help-block"
                               ng-show="form.email.$error.minlength">
                            Tu  e-mail debe tener al menos 5 caracteres.
                        </p>
                        <p class="help-block"
                               ng-show="form.email.$error.maxlength">
                            Tu e-mail no debe tener más de 100 caracteres.
                        </p>
                    </div>
                </div>

                <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Guardar</button>
            </form>
        </div>
    </div>

</div>
