
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myDenunciaLabel">Create or edit a Denuncia</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="denuncia.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_codigo">Codigo</label>
            <input type="text" class="form-control" name="codigo" id="field_codigo"
                    ng-model="denuncia.codigo"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_fecha">Fecha</label>
                <div class="input-group">
                    <input id="field_fecha" type="text" class="form-control" uib-datepicker-popup="{{dateformat}}" ng-model="denuncia.fecha" is-open="datePickerForFecha.status.opened"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="datePickerForFechaOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_sancionable">Sancionable</label>
            <input type="checkbox" class="form-control" name="sancionable" id="field_sancionable"
                    ng-model="denuncia.sancionable"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_latitud">Latitud</label>
            <input type="text" class="form-control" name="latitud" id="field_latitud"
                    ng-model="denuncia.latitud"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_longitud">Longitud</label>
            <input type="text" class="form-control" name="longitud" id="field_longitud"
                    ng-model="denuncia.longitud"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_placa">Placa</label>
            <input type="text" class="form-control" name="placa" id="field_placa"
                    ng-model="denuncia.placa"
                     />
        </div>
        <div class="form-group" ngf-drop ngf-change="setFoto($file, denuncia)" ngf-pattern="'image/*'">
            <label class="control-label" for="field_foto">Foto</label>
            <div>
                <img data-ng-src="{{'data:' + denuncia.fotoContentType + ';base64,' + denuncia.foto}}" style="max-height: 100px;" ng-if="denuncia.foto"/>
                <div class="help-block clearfix">
                    <span class="pull-left">{{denuncia.fotoContentType}} {{byteSize(denuncia.foto)}}</span>
                    <button ng-click="denuncia.foto=null;denuncia.fotoContentType=null;"
                            ng-if="denuncia.foto"
                            class="btn btn-default btn-xs pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <button type="file" ngf-select class="btn btn-default btn-block"
                        ngf-change="setFoto($file, denuncia)" accept="image/*">
                    Add image
                </button>
            </div>
            <input type="hidden" class="form-control" name="foto" id="field_foto"
                    ng-model="denuncia.foto"
                     />
            <input type="hidden" class="form-control" name="fotoContentType" id="field_fotoContentType"
                    ng-model="denuncia.fotoContentType" />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
