<div>
    <h2>Reportes</h2>
    <jh-alert></jh-alert>
    <div class="container-fluid">

        <div class="form-group">
            <label for="tipo-reporte">Tipo reporte</label>
            <select class="form-control" name="tipó-reporte" ng-model="tipoResporte" id="tipo-reporte">
                <option value="1">Por D&iacute;a</option>
                <option value="2">Por Estado de Pago</option>
                <option value="3">por Cant&oacute;n</option>
            </select>
        </div>


        <div class="form-group">
            <label for="tipo-grafico">Tipo reporte</label>
            <select class="form-control" name="tipó-grafico" ng-model="tipoGrafico" id="tipo-grafico">
                <option value="1">Barras</option>
                <option value="2">L&iacute;neas</option>
                <option value="3">Pastel</option>
            </select>
        </div>


    </div>
    <br/>
    <div class="table-responsive">




    </div>

    <div >
        <div fusioncharts
             width="600"
             height="400"
             type="pie3d"
             dataSource="{{myDataSource}}" >
        </div>
    </div>


</div>
