<div>
    <h2>Reportes</h2>
    <jh-alert></jh-alert>
    <div class="container-fluid">

        <div class="form-group">
            <label for="tipo-reporte">Tipo reporte</label>
            <select class="form-control" name="tipo-reporte" ng-model="tipoReporte" id="tipo-reporte" ng-change="updateReport(tipoReporte)">
                <option value="dia">Por D&iacute;a</option>
                <option value="pago">Por Estado de Pago</option>
                <option value="mes">por Mes</option>
            </select>
        </div>


        <div class="form-group">
            <label for="tipo-grafico">Tipo gr&aacute;fico</label>
            <select class="form-control" name="tipó-grafico" ng-model="tipoGrafico" id="tipo-grafico">
                <option value="column2d">Columnas 2D</option>
                <option value="column3d">Columnas 3D</option>
                <option value="line">L&iacute;neas</option>
                <option value="area2d">Area 2D</option>
                <option value="bar2d">bar2d</option>
                <option value="bar3d">bar3d</option>
                <option value="pie2d">pie2d</option>
                <option value="pie3d">pie3d</option>
                <option value="doughnut2d">doughnut2d</option>
                <option value="doughnut3d">doughnut3d</option>
                <option value="pareto2d">pareto2d</option>
                <option value="pareto3d">pareto3d</option>

            </select>
        </div>


    </div>
    <br/>
    <div class="table-responsive">




    </div>

    <div >
        <div fusioncharts
             width="600"
             height="400"
             type="{{tipoGrafico}}"
             dataSource="{{myDataSource}}">
        </div>
    </div>


</div>
